.contacts {
  list-style: none;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  &__item {
    min-width: 280px;
    margin-left: 85px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(set-color('grey'), 0.37);
    text-align: right;
    font-family: $main-font;
    font-weight: 700;
    line-height: 26px;
    color: set-color('grey');
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 17px;
      height: 17px;
      background: {
        size: contain;
        repeat: no-repeat;
        position: center;
      }
      position: absolute;
      left: 0;
      bottom: 8px;
    }
    &_phone {
      font-size: 24px;
      &::before {
        background: {
          image: url(../img/phone-svg.svg);
        }
      }
    }
    &_location {
      &::before {
        background: {
          image: url(../img/location-svg.svg);
        }
      }
    }
  }
}

.go-top {
  display: block;
  width: 75px;
  height: 50px;
  background-color: set-color('black');
  position: fixed;
  right: 80px;
  bottom: 80px;
  text-align: center;
  color: set-color('accent');
  line-height: 50px;
  font-size: 18px;
  transition: all 0.25s ease;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: set-color('white');
  }
}

.button {
  display: inline-block;
  font-family: $main-font;
  font-weight: 700;
  color: set-color('white');
  text-align: center;
  background-color: set-color('black');
  padding: 20px 50px;
  transition: all 0.25s ease;
  &:hover,
  &:active,
  &:focus {
    background-color: set-color('white');
    color: set-color('black');
    text-decoration: none;
  }
}
