.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  &__item {
    min-width: 280px;
    margin-left: 85px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(set-color('grey'), 0.37);
    text-align: right;
    font-family: $main-font;
    font-weight: 700;
    line-height: 26px;
    color: set-color('grey');
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    @include for-desktop-only {
      margin-left: 50px;
    }
    @include for-tablet-landscape-only {
      min-width: 240px;
      margin-left: 30px;
    }
    @include for-tablet-portait-only {
      min-width: auto;
      margin-left: 20px;
      padding-left: 20px;
    }
    @include for-phone-only {
      font-size: 0;
      min-width: auto;
      margin-left: 20px;
      padding-left: 20px;
    }
    &::before {
      content: "";
      display: block;
      width: 17px;
      height: 17px;
      background: {
        size: contain;
        repeat: no-repeat;
        position: center;
      }
      position: absolute;
      left: 0;
      bottom: 8px;
      @include for-phone-only {
        width: 20px;
        height: 20px;
      }
    }
    &_phone {
      font-size: 24px;
      @include for-tablet-portait-only {
        font-size: 14px;
      }
      @include for-phone-only {
        font-size: 0;
      }
      &::before {
        background: {
          image: url(../img/phone-svg.svg);
        }
      }
    }
    &_location {
      &::before {
        background: {
          image: url(../img/location-svg.svg);
        }
      }
    }
  }
}

.go-top {
  display: block;
  width: 75px;
  height: 50px;
  background-color: set-color('black');
  position: fixed;
  right: 80px;
  bottom: 80px;
  text-align: center;
  color: set-color('accent');
  line-height: 50px;
  font-size: 18px;
  transition: all 0.25s ease;
  z-index: 999;
  opacity: 0;
  transition: all 0.25s ease;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: set-color('white');
  }
  &.is-visible {
    opacity: 1;
  }
  @media (max-width: 1366px) {
    right: 40px;
    bottom: 40px;
  }
  @media (max-width: 899px) {
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 40px;
    line-height: 40px;
  }
  @media (max-width: 380px) {
    right: 0;
    bottom: 0;
    width: 40px;
    height: 30px;
    line-height: 30px;
  }
}

.button {
  display: inline-block;
  font-family: $main-font;
  font-weight: 700;
  color: set-color('white');
  text-align: center;
  background-color: set-color('black');
  padding: 20px 50px;
  border: none;
  outline: none;
  transition: all 0.25s ease;
  &:hover,
  &:active,
  &:focus {
    background-color: set-color('white');
    color: set-color('black');
    text-decoration: none;
  }
}

.contacts-form {
  width: 100%;
  max-width: 1270px;
  padding: 50px 40px;
  background-color: set-color('accent');
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  &__item {
    &:first-child,
    &:last-child {
      width: 30%;
    }
    &:nth-child(2) {
      width: 26%;
    }
    &:last-child {
      margin-right: 0;
    }
    .contacts__item {
      margin-left: 0;
      min-width: 100%;
    }
  }
  &__label {
    margin-bottom: 30px;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  &__btn {
    padding: 15px;
    width: 100%;
  }
}

.send-form {
  padding: 42px 65px 0 50px;
  background-color: set-color('light-grey');
  box-shadow: 10px 10px 0 0 rgba(set-color('grey'), 0.16);
  &__h3 {
    text-transform: none;
    padding: 0;
    border: none;
    margin-bottom: 30px;
    line-height: 36px;
    letter-spacing: normal;
    &::before {
      display: none;
    }
  }
  input,
  textarea {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: set-color('black');
    margin-bottom: 15px;
    padding-left: 45px;
    border: none;
    background-color: set-color('white');
    outline: none;
    transition: all 0.25s ease;
    &:hover,
    &:focus {
      box-shadow: 0 2px 5px rgba(set-color('grey'), 0.1);
    }
    &::placeholder {
      opacity: 1;
      transition: opacity 0.25s ease;
      font-style: italic;
      font-size: 12px;
      color: set-color('black');
    }
    &:focus::placeholder {
      opacity: 0;
      transition: opacity 0.25s ease;
    }
  }
  textarea {
    resize: none;
    height: 200px;
    padding-top: 20px;
  }
  input {
    height: 64px;
    line-height: 64px;
  }
  &__btn {
    display: block;
    width: 100%;
    margin-top: 60px;
  }
  .send-form__label {
    display: block;
    width: 100%;
    margin: 0;
    position: relative;
    &::before {
      font-family: "FontAwesome";
      font-size: 14px;
      line-height: 1;
      position: absolute;
      left: 18px;
    }
    &_textarea {
      &::before {
        content: "\f044";
        top: 24px;
      }
    }
    &_name,
    &_email {
      &::before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &_name {
      &::before {
        content: "\f007";
      }
    }
    &_email {
      &::before {
        content: "\f003";
      }
    }
  }
  &__error {
    color: red;
    display: none;
  }
}

.accordion {
  &__item {
    margin-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  &__link {
    border-bottom: 1px dashed rgba(set-color('black'), 0.45);
    font-family: $main-font;
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    color: set-color('black');
    text-decoration: none;
    position: relative;
    transition: all 0.25s ease;
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background-color: set-color('black');
      position: absolute;
      top: 13px;
      left: -40px;
      transition: all 0.25s ease;
    }
    &:active,
    &:focus {
      color: set-color('black');
      text-decoration: none;
    }
    &:hover {
      color: set-color('accent');
      border-color: transparent;
      text-decoration: none;
      &::before {
        background-color: set-color('accent');
      }
    }
    &[aria-expanded=true] {
      border-color: transparent;
      color: set-color('accent');
      &::before {
        background-color: set-color('accent');
      }
    }
  }
  &__content {
    font-size: 16px;
    line-height: 30px;
    position: relative;
    opacity: 0;
    transform: translateY(0);
    transition: all 0.25s ease;
    &::before {
      content: "\f106";
      display: block;
      width: 16px;
      height: 16px;
      background-color: set-color('black');
      border-radius: 50%;
      font-family: "FontAwesome";
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: set-color('white');
      position: absolute;
      right: -40px;
      top: 10px;
      transition: all 0.25s ease;
      transition-delay: 0.25s;
      opacity: 0;
      transform: translateY(5px);
    }
    &.in {
      opacity: 1;
      transform: translateY(20px);
      &::before {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  .panel {
    border: none;
    box-shadow: none;
  }
}
