html {
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
  font-size: 16px;
}
body {
  max-width: 1920px;
  min-width: 320px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  font-family: $content-font;
  font-size: $font-size;
  color: set-color('black');
  background-color: set-color('white');
}

h1, h2, h3, h4, h5, h6 {
  font-family: $main-font;
  font-weight: 700;
  line-height: 1;
  color: set-color('black');
  letter-spacing: 5px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  padding-left: 27px;
  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 100%;
    background-color: set-color('accent');
    position: absolute;
    left: 0;
    top: 0;
  }
}
p {
  font-family: $content-font;
  font-size: $font-size;
  color: set-color('black');
}
.content-container {
  position: relative;
  padding-left: 80px;
}
.margin-left-55 {
  margin-left: 55px;
}
.margin-left-45 {
  margin-left: 45px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.bold {
  font-weight: 700;
}
.main-font {
  font-family: $main-font;
}
