html {
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
  font-size: 16px;
}
body {
  max-width: 1920px;
  min-width: 320px;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  font-family: $content-font;
  font-size: $font-size;
  color: set-color('black');
  background-color: set-color('white');
}
