$tabellion-colors: (
  'accent': #fdd226,
  'black' : #000000,
  'white' : #ffffff,
  'grey'  : #303030
);

$main-font: #{'Gilroy , Helvetica, Arial, sans-serif'};
$content-font: #{'Lato , Helvetica, Arial, sans-serif'};
