.faq {
  padding: 140px 0 230px 340px;
  background-color: set-color('white');
  &__h2 {
    margin-bottom: 90px;
  }
  &__p {
    font-size: 16px;
    line-height: 24px;
    &_italic {
      font-style: italic;
    }
  }
  .accordion-wrap {
    max-width: 600px;
    .faq__p {
      padding-left: 25px;
      margin-bottom: 90px;
    }
  }
  .send-form {
    max-width: 480px;
  }
}
