.info {
  background-color: set-color('light-grey');
  position: relative;
  // padding-top: 185px;
  // padding-bottom: 280px;
  &__h2 {
    margin-bottom: 65px;
    padding-left: 0;
    &::before {
      display: none;
    }
  }
}
