.services {
  padding: 145px 0 0 340px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  @include for-desktop-only {
    padding-top: 80px;
  }
  @media (max-width: 1319px) {
    flex-wrap: wrap;
  }
  @include for-tablet-landscape-only {
    padding-left: 245px;
  }
  @include for-tablet-portait-only {
    padding: 60px 0 0;
  }
  @include for-phone-only {
    padding: 60px 0 0;
  }
  &::before {
    content: "";
    display: block;
    width: 260px;
    height: 94px;
    background-color: set-color('light-grey');
    position: absolute;
    left: 0;
    bottom: 0;
    @include for-phone-only {
      display: none;
    }
  }
  &::after {
    content: "";
    display: block;
    width: 370px;
    height: 130px;
    background-color: set-color('white');
    position: absolute;
    left: 1550px;
    top: 145px;
    @include for-desktop-only {
      top: 80px;
    }
  }
  &__sidebar {
    width: 220px;
    margin-right: 65px;
    padding-top: 55px;
    background-color: set-color('white');
    @media (min-width: 1320px) and (max-width: 1500px) {
      width: 200px;
      margin-right: 30px;
      padding-top: 0;
    }
    @media (max-width: 1319px) {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      max-width: 420px;
      margin-right: auto;
      margin-bottom: 40px;
      padding-top: 0;
    }
    @include for-tablet-portait-only {
      padding: 0 20px;
    }
    @include for-phone-only {
      padding: 0 20px;
      margin-bottom: 20px;
    }
  }
  &__content {
    width: calc(100% - 285px);
    background-color: set-color('light-grey');
    padding-bottom: 90px;
    padding-right: 20px;
    position: relative;
    @media (min-width: 1320px) and (max-width: 1500px) {
      width: calc(100% - 230px);
    }
    @media (max-width: 1319px) {
      width: 100%;
    }
    @include for-tablet-portait-only {
      padding: 0 20px;
    }
    @include for-phone-only {
      padding: 0 20px;
    }
  }
  &__tabs {
    max-width: 940px;
  }
  &__logo {
    max-width: 60px;
    margin-bottom: 75px;
    @media (max-width: 1319px) {
      margin: 0 30px 0 0;
    }
  }
  &__h4 {
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    letter-spacing: 1px;
    @media (max-width: 1319px) {
      width: calc(100% - 90px);
      margin: 0 0 30px 0;
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__p {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 25px;
    @media (max-width: 1319px) {
      margin: 0 0 30px 90px;
    }
  }
  &__nav-tabs {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      margin: 0;
      width: calc(100% / 3);
      @include for-phone-only {
        width: 100%;
        max-width: 420px;
        float: none;
        margin: 0 auto;
      }
      > a {
        padding: 40px;
        display: block;
        border: none;
        margin: 0;
        background-color: set-color('white');
        font-family: $main-font;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: set-color('black');
        transition: all 0.25s ease;
        @media (min-width: 1320px) and (max-width: 1500px) {
          padding: 30px 20px;
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 1px;
        }
        @include for-tablet-landscape-only {
          padding: 15px;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 1px;
        }
        @include for-tablet-portait-only {
          padding: 15px;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 1px;
        }
        @include for-phone-only {
          padding: 20px;
        }
        &:hover {
          text-decoration: none;
          color: set-color('black');
          > span {
            &::before {
              height: 4px;
              background-color: set-color('accent');
            }
          }
        }
        > span {
          display: block;
          padding-right: 68px;
          position: relative;
          transition: all 0.25s ease;
          &::before {
            height: 4px;
            background-color: set-color('accent');
          }
          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: rgba(set-color('black'), 0.28);
            position: absolute;
            left: 0;
            bottom: -4px;
            transition: all 0.25s ease;
          }
          > span {
            display: block;
            position: absolute;
            right: 0;
            bottom: 8px;
            width: 60px;
            height: 30px;
            box-shadow: inset 0 0 0 1px set-color('accent');
            text-align: right;
            padding-right: 5px;
            font-size: 24px;
            line-height: 30px;
            transition: all 0.25s ease;
            @include for-tablet-portait-only {
              width: 40px;
              height: 25px;
              font-size: 20px;
              line-height: 25px;
            }
            &::before {
              content: "\f3d6";
              font-family: "Ionicons";
              font-size: 24px;
              font-weight: 300;
              line-height: 30px;
              position: absolute;
              left: -7px;
              top: 0;
            }
          }
        }
      }
      &.active {
        > a {
          border: none;
          background-color: set-color('light-grey');
          text-decoration: none;
          color: set-color('black');
          > span {
            &::before {
              height: 4px;
              background-color: set-color('accent');
            }
            > span {
              background-color: set-color('accent');
              bottom: 0;
              height: 38px;
              @include for-tablet-portait-only {
                height: 33px;
              }
            }
          }
          &:hover,
          &:focus {
            border: none;
            background-color: set-color('light-grey');
            text-decoration: none;
            color: set-color('black');
            > span {
              &::before {
                height: 4px;
                background-color: set-color('accent');
              }
              > span {
                background-color: set-color('accent');
                bottom: 0;
                height: 38px;
                @include for-tablet-portait-only {
                  height: 33px;
                }
              }
            }
          }
        }
      }
    }
  }
  &__tab-content {
    padding: 0 25px;
    @include for-tablet-landscape-only {
      padding: 0;
    }
    @include for-phone-only {
      padding: 0;
    }
    > .services__tab-pane.active {
      display: flex;
    }
  }
  &__tab-pane {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include for-tablet-portait-only {
      padding: 0;
    }
    @include for-phone-only {
      padding: 0;
    }
  }
  &__tab-pane-item {
    width: calc(100% / 3);
    max-width: 220px;
    min-height: 85px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(set-color('black'), 0.37);
    position: relative;
    @media (min-width: 1320px) and (max-width: 1500px) {
      max-width: 200px;
      min-height: 90px;
    }
    @include for-tablet-landscape-only {
      width: calc((100% / 3) - 10px);
      max-width: 230px;
    }
    @include for-tablet-portait-only {
      width: 50%;
      max-width: 48%;
    }
    @include for-phone-only {
      width: 50%;
      max-width: 48%;
      margin-bottom: 30px;
      min-height: 90px;
    }
    &.last {
      opacity: 0;
      visibility: collapse;
      height: 0;
      min-height: 0;
      margin: 0;
    }
  }
  &__tab-pane-link {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: set-color('black');
    margin-bottom: 20px;
    @include for-phone-only {
      display: block;
      margin-bottom: 30px;
    }
    &:hover,
    &:active,
    &:focus {
      color: set-color('black');
    }
  }
  &__tab-pane-price {
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: set-color('black');
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__more {
    padding: 70px  90px;
    text-align: center;
    background-color: set-color('light-grey');
    @include for-phone-only {
      padding: 50px 0 100px;
    }
    a {
      display: inline-block;
      font-family: $main-font;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: set-color('black');
      border-bottom: 1px dashed set-color('black');
      position: relative;
      transition: all 0.25s ease;
      &::after {
        content: "\f3d4";
        margin-top: 10px;
        font-family: "Ionicons";
        font-size: 30px;
        font-weight: 300;
        line-height: 1;
        display: block;
        position: absolute;
        left: 50%;
        transform: translate3d(-50%, 0, 0);
        transition: all 0.25s ease;
      }
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color: set-color('black');
        border-color: transparent;
        &::after {
          color: set-color('accent');
          transform: translate3d(-50%, 10px, 0);
        }
      }
    }
  }
  .scroll-container {
    height: 740px;
    margin-top: 60px;
    overflow-x: hidden;
    @include for-tablet-portait-only {
      margin-top: 40px;
    }
    @include for-phone-only {
      height: auto;
      max-height: 400px;
      margin-top: 30px;
    }
    .jspVerticalBar {
      width: 10px;
      background-color: transparent;
    }
    .jspTrack {
      background-color: transparent;
      opacity: 1;
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color: set-color('black');
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .jspDrag {
      background-color: set-color('grey');
      border-radius: 5px;
      position: relative;
      &::before,
      &::after {
        display: block;
        font-family: "Ionicons";
        font-size: 12px;
        color: set-color('accent');
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      &::before {
        content: "\f365";
        top: 0;
      }
      &::after {
        content: "\f35f";
        bottom: 0;
      }
    }
  }
}
