.services {
  padding-top: 145px;
  padding-bottom: 90px;
  display: flex;
  justify-content: flex-start;
  &__sidebar {
    width: 220px;
    margin-right: 65px;
    background-color: set-color('white');
  }
  &__content {
    width: 100%;
    max-width: 940px;
  }
  &__logo {
    max-width: 60px;
    margin-bottom: 75px;
  }
  &__h4 {
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
  }
  &__p {
    margin-left: 30px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 25px;
  }
  &__nav-tabs {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      margin: 0;
      width: calc(100% / 3);
      > a {
        padding: 40px;
        display: block;
        border: none;
        margin: 0;
        background-color: set-color('white');
        font-family: $main-font;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: set-color('black');
        transition: all 0.25s ease;
        &:hover {
          text-decoration: none;
          color: set-color('black');
          > span {
            &::before {
              height: 4px;
              background-color: set-color('accent');
            }
          }
        }
        > span {
          position: relative;
          display: block;
          transition: all 0.25s ease;
          &::before {
            height: 4px;
            background-color: set-color('accent');
          }
          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: rgba(set-color('black'), 0.28);
            position: absolute;
            left: 0;
            bottom: -4px;
            transition: all 0.25s ease;
          }
          > span {
            display: block;
            position: absolute;
            right: 0;
            bottom: 8px;
            width: 60px;
            height: 30px;
            box-shadow: inset 0 0 0 1px set-color('accent');
            text-align: right;
            padding-right: 5px;
            font-size: 24px;
            line-height: 30px;
            transition: all 0.25s ease;
            &::before {
              content: "\f3d6";
              font-family: "Ionicons";
              font-size: 24px;
              font-weight: 300;
              line-height: 30px;
              position: absolute;
              left: -7px;
              top: 0;
            }
          }
        }
      }
      &.active {
        > a {
          border: none;
          background-color: set-color('light-grey');
          text-decoration: none;
          color: set-color('black');
          > span {
            &::before {
              height: 4px;
              background-color: set-color('accent');
            }
            > span {
              background-color: set-color('accent');
              bottom: 0;
              height: 38px;
            }
          }
          &:hover,
          &:focus {
            border: none;
            background-color: set-color('light-grey');
            text-decoration: none;
            color: set-color('black');
            > span {
              &::before {
                height: 4px;
                background-color: set-color('accent');
              }
              > span {
                background-color: set-color('accent');
                bottom: 0;
                height: 38px;
              }
            }
          }
        }
      }
    }
  }
  &__tab-content {
    background-color: set-color('light-grey');
    padding: 0 25px;
  }
  &__more {
    padding: 70px  90px;
    text-align: center;
    background-color: set-color('light-grey');
    a {
      display: inline-block;
      font-family: $main-font;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color: set-color('black');
      border-bottom: 1px dashed set-color('black');
    }
  }
  .scroll-container {
    max-height: 740px;
    background-color: set-color('light-grey');
  }
}
