.header {
  width: 100%;
  height: 100px;
  background-color: set-color('white');
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 50px;
  &__logo {
    display: block;
    width: 170px;
    height: 65px;
    font-family: $main-font;
    font-size: 26px;
    font-weight: 700;
    line-height: 65px;
    background-color: set-color('grey');
    color: set-color('white');
    padding: 0 20px;
    border-bottom: 3px solid set-color('accent');
    position: relative;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
      color: set-color('grey');
      background-color: set-color('white');
      box-shadow: inset 0 0 0 3px set-color('grey');
      text-decoration: none;
      border-color: rgba(0,0,0,0);
    }
    &::after {
      content: "";
      display: block;
      width: 324px;
      height: 2px;
      background-color: set-color('grey');
      position: absolute;
      right: -368px;
      top: 50%;
      margin-top: -1px;
    }
  }
}
