.modal-body {
  padding: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
}
.modal-content {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  border: none;
  @media (min-width: 768px) {
    .modal-content {
      box-shadow: none;
    }
  }
}
.modal {
  button.close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    top: -30px;
    line-height: 30px;
    opacity: 1;
    text-shadow: none;
    font-size: 36px;
    color: #fdd226;
    @media (max-width: 480px) {
      right: -10px;
    }
  }
}

.modal.fade .modal-dialog {
  transform: translate(0, 10%);
  opacity: 0;
}

.modal.in .modal-dialog {
  transform: translate(0, 10%);
  opacity: 1;
}

.modal-backdrop.in {
  background-color: set-color('grey');
  opacity: 0.95;
  filter: alpha(opacity=95);
}

@media (max-width: 767px) {
  .modal-dialog {
    width: 92%;
    max-width: 420px;
    margin: 0 auto;
  }
}
