.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  transition-delay: 1s;
  display: none;
}

.pace .pace-progress {
  background: #fdd226;
  position: fixed;
  z-index: 2000;
  top: 50%;
  margin-top: -1px;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: .5rem;
  content: attr(data-progress-text);
  font-family: "Gilroy", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(0, 0, 0, 0.19999999999999996);
}

@media (max-width: 600px) {
  .pace .pace-progress:after {
    font-size: 2rem;
  }
}
